#### Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

In [1]:
import pandas as pd

In [3]:
load_df=pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/fundamentals/football_players.csv', index_col='Name')
df=pd.DataFrame(load_df)
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_10884\2459433657.py:1: DtypeWarning: Columns (14,26) have mixed types. Specify dtype option on import or set low_memory=False.
  load_df=pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/fundamentals/football_players.csv', index_col='Name')

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,85,...,83,94,23,91,92,31,80,85,88,ST LW
L. Messi,30,Argentina,93,92,48,90,95,95,96,77,...,88,85,26,87,73,28,59,90,85,RW
Neymar,25,Brazil,92,94,56,96,82,95,92,75,...,81,80,33,90,78,24,53,80,83,LW
L. Suárez,30,Uruguay,92,88,78,86,60,91,83,77,...,83,87,38,77,89,45,80,84,88,ST
M. Neuer,31,Germany,92,58,29,52,35,48,70,15,...,55,25,11,61,44,10,83,70,11,GK

#### Accessing DataFrame

To access by index only in a DataFrame we can use the <b>*iloc* or *loc* functions</b> with the indices in square brackets. The iloc function refers to the index location, so we pass in the number of the index, while the loc function refers to the name of the index, so we pass in the index name. We can use slicing if we want more than one index, for example:

dataframe.iloc[index i] – returns series at index i
dataframe.iloc[index start: index end] – returns DataFrame from start to end (end not included)
dataframe.loc['index name'] – returns series of given index name

In [5]:
df.iloc[0:4]

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63,93,95,85,...,83,94,23,91,92,31,80,85,88,ST LW
L. Messi,30,Argentina,93,92,48,90,95,95,96,77,...,88,85,26,87,73,28,59,90,85,RW
Neymar,25,Brazil,92,94,56,96,82,95,92,75,...,81,80,33,90,78,24,53,80,83,LW
L. Suárez,30,Uruguay,92,88,78,86,60,91,83,77,...,83,87,38,77,89,45,80,84,88,ST

In [7]:
df.loc["L. Messi"
       ]

Age                           30
Nationality            Argentina
Overall                       93
Acceleration              92
Aggression                48
Agility                   90
Balance                   95
Ball control              95
Composure                 96
Crossing                  77
Curve                     89
Dribbling                 97
Finishing                 95
Free kick accuracy        90
GK diving                  6
GK handling               11
GK kicking                15
GK positioning            14
GK reflexes                8
Heading accuracy          71
Interceptions             22
Jumping                   68
Long passing              87
Long shots                88
Marking                   13
Penalties                 74
Positioning               93
Reactions                 95
Short passing             88
Shot power                85
Sliding tackle            26
Sprint speed              87
Stamina                   73
Standing tackle           28
Strength                  59
Vision                    90
Volleys                   85
Preferred Positions          RW
Name: L. Messi, dtype: object

Access By Column

In [9]:
#used to determine the columns you have on your dataset
df.columns

Index(['Age', 'Nationality', 'Overall', 'Acceleration', 'Aggression',
       'Agility', 'Balance', 'Ball control', 'Composure', 'Crossing', 'Curve',
       'Dribbling', 'Finishing', 'Free kick accuracy', 'GK diving',
       'GK handling', 'GK kicking', 'GK positioning', 'GK reflexes',
       'Heading accuracy', 'Interceptions', 'Jumping', 'Long passing',
       'Long shots', 'Marking', 'Penalties', 'Positioning', 'Reactions',
       'Short passing', 'Shot power', 'Sliding tackle', 'Sprint speed',
       'Stamina', 'Standing tackle', 'Strength', 'Vision', 'Volleys',
       'Preferred Positions'],
      dtype='object')

In [10]:
df["Age"]

Name
Cristiano Ronaldo    32
L. Messi             30
Neymar               25
L. Suárez            30
M. Neuer             31
                     ..
A. Kelsey            17
B. Richardson        47
J. Young             17
J. Lundstram         18
L. Sackey            18
Name: Age, Length: 17981, dtype: int64

In [12]:
df[["Age","Nationality"]]

                   Age Nationality
Name
Cristiano Ronaldo   32    Portugal
L. Messi            30   Argentina
Neymar              25      Brazil
L. Suárez           30     Uruguay
M. Neuer            31     Germany
...                ...         ...
A. Kelsey           17     England
B. Richardson       47     England
J. Young            17    Scotland
J. Lundstram        18     England
L. Sackey           18       Ghana

[17981 rows x 2 columns]

#### We can also select a subset of the DataFrame using indices and columns in combination.

In [14]:
df.iloc[0:10][['Age','Nationality','Overall', 'Acceleration', 'Aggression',
       'Agility', 'Balance']]

,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance
Name,,,,,,,
Cristiano Ronaldo,32,Portugal,94,89,63,89,63
L. Messi,30,Argentina,93,92,48,90,95
Neymar,25,Brazil,92,94,56,96,82
L. Suárez,30,Uruguay,92,88,78,86,60
M. Neuer,31,Germany,92,58,29,52,35
R. Lewandowski,28,Poland,91,79,80,78,80
De Gea,26,Spain,90,57,38,60,43
E. Hazard,26,Belgium,90,93,54,93,91
T. Kroos,27,Germany,90,60,60,71,69
G. Higuaín,29,Argentina,90,78,50,75,69

In [17]:
df[["Age","Nationality"]].iloc[0:7]

                   Age Nationality
Name
Cristiano Ronaldo   32    Portugal
L. Messi            30   Argentina
Neymar              25      Brazil
L. Suárez           30     Uruguay
M. Neuer            31     Germany
R. Lewandowski      28      Poland
De Gea              26       Spain