#### INTRODUCTION TO PANDAS EXERCISES

In [1]:
import pandas as pd

#### 
Create a Pandas DataFrame from a dictionary. The dictionary keys should be Crop, Yield_per_Acre, and Country, and the values should be lists, as shown in the data below:

Crop: ['Wheat', 'Corn', 'Rice', 'Soybean']
Yields per Acre (in tons): [3, 4.5, 5, 2.8]
Country: ['USA', 'China', 'India', 'Brazil']

In [2]:
agri_yield={'Crop': ['Wheat', 'Corn', 'Rice', 'Soybean'],
'Yields per Acre (in tons)': [3, 4.5, 5, 2.8],
'Country': ['USA', 'China', 'India', 'Brazil']}

df=pd.DataFrame(agri_yield)
df.head()

      Crop  Yields per Acre (in tons) Country
0    Wheat                        3.0     USA
1     Corn                        4.5   China
2     Rice                        5.0   India
3  Soybean                        2.8  Brazil

In [3]:
# Using the DataFrame we created , return only observations for index values 1 and 2 from the dataset.
df.iloc[1:3]

   Crop  Yields per Acre (in tons) Country
1  Corn                        4.5   China
2  Rice                        5.0   India

#### Using the NumPy library, create a 3x2 array named tree_array to store information for different tree species as follows:
[[30, 25], [60, 30], [25, 20]]

Use the array to create a DataFrame with the following columns: Max_Height_m, and Growth_Rate_cm_per_year, and the following index: Maple, Pine and Birch.

In [4]:
import numpy as np

In [5]:
# Creating a NumPy array to represent data for different tree species
tree_array=np.array([[30, 25], [60, 30], [25, 20]])

# Defining the column names for the DataFrame
columns = ['Max_Height_m', 'Growth_Rate_cm_per_year']

# Defining the index for the DataFrame which represents the names of the tree species
index = ['Maple', 'Pine', 'Birch']

# Creating a DataFrame from the NumPy array above
tree_df = pd.DataFrame(data=tree_array, index=index, columns=columns)

# Printing the created DataFrame
print(tree_df)

       Max_Height_m  Growth_Rate_cm_per_year
Maple            30                       25
Pine             60                       30
Birch            25                       20

Using the DataFrame we created in Exercise 3, display the Max_Height_m and Growth_Rate_cm_per_year columns for the Pine tree.

In [6]:
tree_df.loc["Pine"]

Max_Height_m               60
Growth_Rate_cm_per_year    30
Name: Pine, dtype: int32

Exercise 5
We have a dataset named Animals.csv that stores information about a variety of animal species. Use Pandas to load the CSV file into a DataFrame called animals_df.

Display the first 5 rows of the DataFrame.

NB: Use this link to access the dataset: https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv

In [7]:
animal_df=pd.read_csv("https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv")
animal_df.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

Using the DataFrame we have created in Exercise 5, access and display information on animals that are listed as Critically Endangered in the Conservation Status column.

In [9]:
critically_endangered=animal_df[animal_df["Conservation Status"]=="Critically Endangered"]
critically_endangered

     Species  Average Lifespan (Years)      Habitat    Conservation Status
9  Orangutan                        35  Rainforests  Critically Endangered